.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  padding: 10px;
  width: 90%;
}
.navbar a,
.navbar a h2 {
  color: #fff;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbar__links li {
  list-style: none;
}

.navbar__links li a {
  color: #fff;
}
